#inputID, #inputMdp1, #inputMdp2, .labelInput {
    color: white;
    font-weight: 600;
    font-size: 2.6em;
    letter-spacing: 5px;
}

.form-control-plaintext {
    width: 50%;
}

.em_button {
    text-align: center;
}
